.table-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26.25rem;
    width: 26.25rem;
    border: 1.56rem solid black;
    border-radius: .5rem;
    outline: .320rem solid white;
    background: white;
}

.table {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 23.9rem;
    background: rgb(248, 246, 246);
    border-radius: .5rem;
    padding: 1rem;

}

.table__header {
    font-size: 1.8rem;

}

.table__description {
    font-size: .9rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.table__dices {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 1rem;

    margin-bottom: 1.5rem;

}

.table__button {
    all: unset;
    color: white;
    border-radius: .5rem;
    padding: .66rem 1.8rem;
    background: rgb(64, 64, 211);
    cursor: pointer;
    transition: .2s;

}

.table__button:active {
    color: rgb(102, 102, 102);
    background-color: rgb(32, 32, 104);
}

.dice__roll {

    all: unset;
    background: white;
    box-shadow: 2px 3px lightgray;
    padding: 1rem 1.2rem;
    border-radius: .5rem;
    cursor: pointer;
    font-weight: 800;
    font-size: 1.25rem;
    transition: 0.3s;

}

.active {
    background-color: chartreuse;
    transform: translateY(4px);
    box-shadow: 1px 2px rgb(141, 137, 137);
}

.result__table {
    background: linear-gradient(45deg, #c9df96, #c4e0e4, #a2c444);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result__header {
    font-size: 2.3rem;

}

/* .result__description {} */

.result__description span {
    font-weight: bold;
    font-size: 1.8rem;
}


.restart-button {
    all: unset;
    color: white;
    border-radius: .5rem;
    padding: .66rem 1.8rem;
    background: rgb(230, 82, 82);
    cursor: pointer;
    transition: .2s;
}

.restart-button:active {
    color: black;
    background-color: rgb(201, 42, 30);

}

.hidden {
    display: none;
}